* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

header {
  max-width: 1280px;
  margin: 30px;
}

.logo img {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  left: 200px;
}

.login {
  float: right;
  position: absolute;
  right: 200px;
}

.login a {
  font-size: 16px;
}

.login a:hover {
  color: blue;
}

.login img {
  width: 45px;
  height: 45px;
}

.menu {
  position: absolute;
  top: 100px;
  width: 100%;
}

.menu ul {
  margin-top: 30px;
  margin-left: 150px;
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-left: 40px;
}

.menu ul li p {
  font-size: 15px;
  color: #007bff;
}

.menu ul li p:hover,
.menu ul li span:hover {
  color: blue;
  cursor: pointer;
}

.menu ul li a {
  font-size: 15px;
}

.menu ul li a:hover {
  color: blue;
  text-decoration: none;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  position: absolute;
  left: 348px;
  top: 58px;
  border-top-color: rgb(27, 75, 209);
}

#menu-dropdown {
  display: none;
}

.categoria-item {
  font-size: 14px;
  position: relative;
  left: 275px;
  top: 160px;
  margin-top: -15px;
  list-style-type: none;
  z-index: 999;
  background-color: rgb(27, 75, 209);
  width: 10%;
  color: white;
  z-index: 999;
}

.categoria-item:hover {
  background-color: rgb(27, 207, 57);
  height: 20%;
  width: 10%;
  cursor: pointer;
  display: block;
}

.barra-pesquisa {
  position: absolute;
  top: 290px;
  right: 450px;
  text-align: center;
}

.barra-pesquisa img {
  width: 250px;
  height: 50px;
  background-color: #ccc;
  margin: 0 auto;
  position: relative;
  left: 200px;
  margin-bottom: 25px;
}

.barra-pesquisa p {
  font-size: 20px;
  font-weight: 400;
  font-style: oblique;
  font-variant: small-caps;
  font-stretch: semi-expanded;
  width: 740px;
  position: relative;
  left: 220px;
  margin-bottom: 30px;
}

.barra-pesquisa input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 15px;
  outline: 0;
  border-radius: 7px;
  border-color: rgb(155, 150, 150);
  color: #3c4449;
  background-color: #f9f9f9;
  position: relative;
  left: 220px;
}

.barra-pesquisa .img-pesquisa {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 920px;
  top: 145px;
  background-color: white;
}

.cadastro {
  position: relative;
  top: 5px;
}

label {
  margin-right: 300px;
}

.form-login {
  position: absolute;
  left: 500px;
  top: 400px;
  border: 1px solid #ccc;
  width: 350px;
  height: 300px;
  padding: 30px;
  border-radius: 6px;
  padding: 10px 16px 16px;
  margin-bottom: 30px;
}

.form-login .input-login {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  outline: 0;
  margin-bottom: 30px;
}

.form-login .input-senha {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  outline: 0;
}

.esqueci-senha {
  margin-right: 150px;
  position: absolute;
  top: 210px;
}

.btn-entrar {
  margin-top: 50px;
  width: 100%;
  height: 15%;
  border-radius: 8px;
  border: 0;
  background-color: #326db1;
  color: white;
}

.btn-entrar:hover {
  background-color: blue;
}

h2 {
  position: absolute;
  top: 250px;
  left: 370px;
  font-size: 30px;
}

.p-login {
  position: absolute;
  top: 350px;
  left: 400px;
  font-size: 20px;
}

.cadastro p {
  position: absolute;
  top: 700px;
  left: 550px;
  font-size: 27px;
}

.cadastro button {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  border: 0;
  background-color: white;
  color: #4a90e2;
  position: absolute;
  top: 750px;
  left: 500px;
  border: 2px solid #4a90e2;
}

.cadastro button:hover {
  background-color: blue;
  color: white;
  border: 0;
}

footer {
  width: 100%;
  background-color: #ccc;
  position: absolute;
  top: 850px;
  height: 15%;
}

footer p {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

footer img {
  background-color: black;
  width: 200px;
  height: 50px;
  float: left;
  margin: 15px;
}

.cadastro-titulo p {
  position: relative;
  top: 270px;
  left: 370px;
  width: 800px;
  font-size: 22px;
  font-weight: lighter;
}

.cadastro-usuario {
  width: 42%;
  float: left;
  height: 60%;
  background-color: rgb(221, 216, 216);
  position: absolute;
  top: 450px;
  left: 100px;
}

.cadastro-usuario img {
  position: relative;
  left: 240px;
  top: 20px;
}

.cadastro-usuario h2 {
  position: absolute;
  top: 130px;
  left: 190px;
}

.cadastro-usuario p {
  width: 434px;
  position: absolute;
  top: 180px;
  left: 100px;
  font-size: 21px;
}

.cadastro-usuario button {
  width: 70%;
  height: 15%;
  border-radius: 8px;
  border: 0;
  background-color: #326db1;
  color: white;
  position: relative;
  top: 270px;
  right: 30px;
  font-size: 20px;
  font-weight: bolder;
}

.cadastro-usuario button:hover {
  background-color: blue;
}

.cadastro-empresa {
  width: 42%;
  float: right;
  height: 60%;
  background-color: rgb(221, 216, 216);
  position: absolute;
  top: 450px;
  left: 750px;
}

.cadastro-empresa img {
  position: relative;
  left: 240px;
  top: 20px;
}

.cadastro-empresa h2 {
  position: absolute;
  top: 130px;
  left: 190px;
}

.cadastro-empresa p {
  width: 450px;
  position: absolute;
  top: 180px;
  left: 100px;
  font-size: 21px;
}

.cadastro-empresa button {
  width: 75%;
  height: 15%;
  border-radius: 8px;
  border: 0;
  background-color: #326db1;
  color: white;
  position: relative;
  top: 270px;
  right: 30px;
  font-size: 20px;
  font-weight: bolder;
}

.cadastro-empresa button:hover {
  background-color: blue;
}

.form-usuario {
  padding: 30px;
  max-width: 50%;
  position: absolute;
  left: 420px;
  top: 200px;
  bottom: -300px;
  margin-bottom: 100px;
  border: 2px solid black;
  background-color: #ccc;
}

.form-usuario .input-nome {
  width: 50%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 43px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.cpf {
  position: relative;
  left: 335px;
  bottom: 110px;
}

.form-usuario #input-cpf {
  width: 133px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  position: relative;
  left: 330px;
  bottom: 90px;
}

.form-usuario .data-nascimento {
  position: relative;
  bottom: 190px;
  left: 480px;
}

.form-usuario #input-nascimento {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  bottom: 130px;
  left: 40px;
}

.form-usuario .genero {
  position: relative;
  bottom: 100px;
}

.form-usuario .masculino {
  position: relative;
  bottom: 75px;
}

.form-usuario .radio-masculino {
  position: relative;
  right: 350px;
  bottom: 95px;
}

.form-usuario .feminino {
  position: relative;
  bottom: 106px;
  left: 100px;
}

.form-usuario .radio-feminino {
  position: relative;
  right: 240px;
  bottom: 130px;
}

.form-usuario .outros {
  position: relative;
  left: 200px;
  bottom: 140px;
}

.form-usuario .radio-outros {
  position: relative;
  right: 140px;
  bottom: 163px;
}

.form-usuario .estado {
  position: relative;
  bottom: 228px;
  left: 320px;
}

.form-usuario .select-estado {
  position: relative;
  bottom: 180px;
  right: 40px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 5px;
}

.form-usuario .cidade {
  position: relative;
  bottom: 260px;
  left: 490px;
}

.form-usuario .select-cidade {
  position: relative;
  bottom: 220px;
  left: 130px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 5px;
}

.form-usuario .email {
  position: relative;
  bottom: 210px;
}

.form-usuario #input-email {
  position: relative;
  bottom: 210px;
  right: 5px;
  width: 50%;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.form-usuario .celular {
  position: relative;
  bottom: 300px;
  left: 330px;
}

.form-usuario .input-celular {
  position: relative;
  bottom: 260px;
  text-transform: uppercase;
  border-radius: 5px;
  width: 23%;
  left: -25px;
  padding: 10px;
}

.form-usuario .input-senha {
  position: relative;
  bottom: 220px;
  text-transform: uppercase;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
}

.form-usuario .confirmar-senha {
  position: relative;
  bottom: 310px;
  left: 330px;
}

.form-usuario .input-confirmar-senha {
  position: relative;
  bottom: 325px;
  left: 320px;
  text-transform: uppercase;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
}

.cadastrar-btn {
  position: relative;
  bottom: 220px;
  right: 120px;
  width: 250px;
  height: 100px;
  background-color: #007bff;
  color: white;
  border-bottom: 5px solid blue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  border-radius: 25px;
}

.cadastrar-btn:hover {
  background-color: rgb(37, 37, 209);
}

.form-empresa {
  padding: 30px;
  max-width: 50%;
  position: absolute;
  left: 350px;
  top: 200px;
  bottom: -300px;
  margin-bottom: 100px;
  border: 2px solid black;
  background-color: #ccc;
}

.form-empresa .input-nome-empresa {
  width: 50%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 43px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.form-empresa .nome-empresa-fantasia {
  position: relative;
  left: 335px;
  bottom: 85px;
}

.form-empresa .input-nome-empresa-fantasia {
  width: 50%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 43px;
  margin-bottom: 15px;
  text-transform: uppercase;
  position: relative;
  left: 330px;
  bottom: 88px;
}

.email-empresa {
  position: relative;
  bottom: 80px;
}

.form-empresa .input-email-empresa {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  position: relative;
  bottom: 70px;
  text-transform: uppercase;
}

.form-empresa .outro-email-empresa {
  position: relative;
  bottom: 150px;
  left: 250px;
}

.form-empresa .input-outro-email-empresa {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  position: relative;
  bottom: 143px;
  left: 250px;
  text-transform: uppercase;
}

.form-empresa .cnpj {
  position: relative;
  bottom: 140px;
}

.form-empresa .input-cnpj {
  width: 165px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  bottom: 100px;
  right: 340px;
  text-transform: uppercase;
}

.form-empresa .site {
  position: relative;
  bottom: 175px;
  left: 200px;
}

.form-empresa .input-site {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  bottom: 173px;
  left: 195px;
  text-transform: uppercase;
}

.form-empresa .estado-empresa {
  position: relative;
  bottom: 460px;
  left: 500px;
}

.form-empresa .select-estado-empresa {
  position: relative;
  bottom: 408px;
  left: 130px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 5px;
}

.form-empresa .cidade-empresa {
  position: relative;
  bottom: 411px;
  left: 480px;
}

.form-empresa .select-cidade-empresa {
  position: relative;
  bottom: 370px;
  left: 120px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 5px;
}

.form-empresa .endereco-empresa {
  position: relative;
  bottom: 170px;
}

.form-empresa .input-endereco-empresa {
  position: relative;
  bottom: 170px;
  right: 5px;
  width: 50%;
  height: 40px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.form-empresa .cep-empresa {
  position: relative;
  bottom: 250px;
  left: 330px;
}

.form-empresa .input-cep-empresa {
  position: relative;
  bottom: 210px;
  right: 5px;
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.form-usuario .senha {
  position: relative;
  bottom: 230px;
}

.form-empresa .nome-responsavel-empresa {
  position: relative;
  bottom: 280px;
}

.form-empresa .input-nome-responsavel-empresa {
  position: relative;
  bottom: 280px;
  right: 5px;
  width: 50%;
  height: 40px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.form-empresa .outro-nome-responsavel-empresa {
  position: relative;
  bottom: 350px;
  left: 320px;
}

.form-empresa .input-outro-nome-responsavel-empresa {
  position: relative;
  bottom: 381px;
  left: 320px;
  width: 50%;
  height: 40px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.cadastrar-empresa-btn {
  position: relative;
  bottom: 250px;
  right: 120px;
  width: 250px;
  height: 100px;
  background-color: #007bff;
  color: white;
  border-bottom: 5px solid blue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  border-radius: 25px;
}

.cadastrar-empresa-btn:hover {
  background-color: rgb(37, 37, 209);
}
